---
import './style.css'
---

<div class="wrapper">
  <div class="loading">
    <div class="loading-text"></div>
  </div>
  <div class="fv">
    <div class="fv-img">
      <img src="../../../../public/images/loading/fv1.jpg" alt="fv">
    </div>
    <h1>Baunk Font</h1>
  </div>
</div>

<script>
  import { Main } from './script'

  window.addEventListener('load', () => {
    new Main()
  })

</script>