@use "./variables.scss" as *;
@use "./animation.scss" as *;
@use "./keyframes.scss" as *;

@font-face {
  font-family: "Nacelle";
  src: url(../fonts/Nacelle-HeavyItalic.otf);
}

section {
  position: relative;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  // responsive auto 100%
  background-repeat: no-repeat;

  @for $i from 1 through 5 {
    &:nth-child(#{$i + 1}) {
      background-image: url(images/works04/section#{$i}.webp);
    }
  }
}

.sample-text {
  padding: 5%;
  height: 100vh;
}

.sample-text__list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  height: 100%;
}

.sample-text__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  width: calc(50% - 25px);
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 5px;
}

.sample1 {
  filter: blur(10px);
  opacity: 0;
  animation: blurText 3s 1s $easing-transform infinite;
}

@keyframes blurText {
  0% {
    filter: blur(10px);
    opacity: 0;
  }
  50% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 200vh;
  padding: 10%;

  backdrop-filter: blur(5px);
}

.wrapper.is-active {
  backdrop-filter: blur(0);
  transition: 1s ease-in;
}

.content {
  max-width: 540px;
  padding: 32px;
  border-radius: 16px;
  background-color: #fff;
  clip-path: inset(100% 0 0 0);

  h2 {
    font-family: Nacelle;
    font-size: 3.5vw;
    margin-bottom: 3%;
  }

  p {
    line-height: 2;
  }
}

.content.is-active {
  @include slideInClip(0);
}

.end {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  p {
    font-family: Nacelle;
    font-size: 5vw;
  }
}

.slider {
  position: relative;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 10%;
  height: 100vh;
}


.slider-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  gap: 10%;
  margin-left: 10%;
  margin-right: 10%;

  will-change: transform;
}

.slider-item {
  flex: 0 0 auto;
  width: 80%;

  img {
    width: 100%;
  }
}

