@mixin scaleDown {
  transform: scale(1.5);
  animation-name: scaleDown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;

  @keyframes scaleDown {
    0% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1.0);
    }
  }

}

@mixin stringOpacity {
  opacity: 0.1;
  animation-name: stringOpacity;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;

  @include animationDelay(75);

  @keyframes stringOpacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin slideInFormBottom {
  animation-name: slideInFormBottom;
  animation-duration: 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  -webkit-clip-path: inset(100% 0 0 0);
  clip-path: inset(100% 0 0 0);

  @keyframes slideInFormBottom {
    0% {
      -webkit-clip-path: inset(100% 0 0 0);
      clip-path: inset(100% 0 0 0);
    }
    100% {
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
    }
  }
}

@mixin animationDelay($count) {
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.015}s;
    }
  }
}
