@use "./animation.scss" as *;
@use "./variables.scss" as *;

:root {
  --main-color: #eae9d3;
  --sub-color: #cd6556;
  --other-color: #65585e;

  --main-font: sixCaps;
  --sub-font: nagoda;

  --diagonal: 5px;
  --offset-x: 0px;
}

@font-face {
  font-family: "sixCaps";
  src: url("/public/fonts/SixCaps.ttf") format("truetype");
}

@font-face {
  font-family: "nagoda";
  src: url("/public/fonts/Nagoda.ttf") format("truetype");
}

body {
  font-family: nagoda;
  overflow: hidden;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  width: 100vw;
  height: 100vh;
  background-color: var(--sub-color);

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    width: 100vw;
    height: 100vh;
    background-color: var(--main-color);
  }

  &__title {
    position: relative;
    width: 100%;
    height: 100%;

    &-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 999;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: 5vw;

      p {
        overflow: hidden;

        &:nth-child(1) {
          color: var(--sub-color);
          padding-left: 2vw;
          padding-right: 3vw;
        }

        &:nth-child(3) {
          padding-left: 3vw;
          padding-right: 2vw;
        }

        span {
          position: relative;
          display: block;
        }
      }

      > span {
        display: block;
        width: 0.5vw;
        height: 0;
        background-color: #333;
        transition: $duration $easing-transform 0.5s;
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-left: 15px;
  padding-right: 15px;

  &__logo {
    h1 {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.main {
  position: relative;
}

.section {
  height: 100vh;
  overflow: hidden;

  &:nth-child(even) {
    background-color: var(--sub-color);
  }

  &:nth-child(odd) {
    background-color: var(--main-color);
  }
}

.pagination {
  position: fixed;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 20px;

  span {
    display: block;
    width: 10px;
    height: 10px;
    border: solid 1px var(--other-color);
    background-color: var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;

    &.is-active {
      width: 15px;
      height: 15px;
      transition: 0.5s;
    }
  }
}

.tag {
  display: block;
  overflow: hidden;
  font-size: 2.5vw;
  margin-bottom: 30px;

  p {
    line-height: 1;
  }

  &.reverse p {
    line-height: 1;
  }
}

.building {
  display: flex;

  &__desc {
    width: 50%;
    margin-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 30px;

    h2 {
      font-size: 3vw;
      span {
        opacity: 0.1;
      }
    }
  }

  &__text {
    p {
      line-height: 2;
      span {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0);
      }
    }
  }

  &__image {
    width: 50%;
    height: 100vh;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.3);
    }
  }
}

.final {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem;

  &__desc {
    position: relative;
    z-index: 1;

    margin-top: 120px;
    padding-bottom: 2rem;
  }

  &__title {
    font-size: 5vw;
    overflow: hidden;
  }

  &__text {
    margin-top: 5rem;
    font-size: 3vw;
    overflow: hidden;

    a {
      color: var(--sub-color);
      text-decoration: underline;
      text-decoration-color: var(--sub-color);
    }
  }

  .loop-text {
    position: absolute;
    left: 0;
    bottom: 2rem;
    z-index: 1;

    font-size: 8vw;

    p {
      text-wrap: nowrap;
      color: var(--sub-color);
      text-shadow: var(--offset-x) 0 var(--sub-color),
        calc(var(--offset-x) * 2) 0 var(--sub-color),
        calc(var(--offset-x) * 3) 0 var(--sub-color);
    }
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--diagonal);
    height: var(--diagonal);
    background: var(--other-color);
    border-radius: 50%;
    transition: 1s;
  }
}

.is-active {
  &.is-hidden {
    display: none;
  }

  &.loading {
    @include slideOutFromBottom(3.4);
  }

  .loading {
    &__inner {
      @include slideOutFromBottom(2.7);
    }

    &__title {
      &-inner {
        @include slideOutFromBottom(2.5);
        p {
          &:nth-child(1) {
            span {
              @include slideInFromLeft();
            }
          }

          &:nth-child(3) {
            span {
              @include slideInFromRight();
            }
          }
        }

        > span {
          height: 7vw;
        }
      }
    }
  }

  &.section {
    .tag {
      p span {
        @include sequentialString(sequentialTag, --sub-color, 50);
        @include animationDelay(11, 0.05);
      }

      &.reverse p span {
        @include sequentialString(sequentialTag, --main-color, 50);
        @include animationDelay(11, 0.05);
      }
    }

    .building {
      &__title {
        h2 span {
          @include opacityString;
          @include animationDelay(75, 0.02);
        }
      }

      &__text {
        p span {
          @include slideInFromBottom(1);
        }
      }

      &__image {
        img {
          @include scaleDown;
        }
      }
    }

    .final {
      &__title {
        h2 span {
          @include sequentialString(sequentialFinalTitle, --sub-color, 100);
          @include animationDelay(30, 0.03);
        }
      }

      .circle {
        width: var(--diagonal);
        height: var(--diagonal);
      }

      .loop-text {
        p {
          @include loopText;
        }
      }
    }
  }
}
