---
import "../../styles/sass/styles.scss"
import "./scss/style.scss"
import './ts/script'
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Works01</title>
	</head>
	<body>
    <header class="header">
      <div class="header__logo">
        <h1>Works01</h1>
      </div>
      <button class="header__btn">
        <span></span><span></span><span></span>
      </button>
      <div class="header__nav">
        <ul class="header__list">
          <li class="header__item"><a href="#">About</a></li>
          <li class="header__item"><a href="#">Works</a></li>
          <li class="header__item"><a href="#">Blog</a></li>
          <li class="header__item"><a href="#">Contact</a></li>
        </ul>
      </div>
    </header>
    <main>
      <section class="section"></section>
      <section class="section"></section>
      <section class="section"></section>
      <section class="section"></section>
      <section class="section"></section>
    </main>
    <footer>

    </footer>
  </body>
</html>