@font-face {
  font-family: Baunk;
  src: url(../../../../public/fonts/Baunk.ttf);
}

.wrapper {
  font-family: Baunk;
  position: relative;
  background-color: #F2F2F2;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.loading canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;

  display: flex;
  gap: 15px;
}

.loading-text span {
  display: block;
  gap: 15px;

  color: #F2F2F2;
  opacity: 1 !important;
}

.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fv h1 {
  position: absolute;
  bottom: 0;
  font-family: Baunk;
  font-size: 10vw;
  overflow: hidden;
  color: #DC143C;
  mix-blend-mode: luminosity;
}

.fv-img img {
  height: 100vh;
}
