---
import "../styles/sass/styles.scss"
import "./style.css"
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>TOP</title>
	</head>
	<body>
		<main>
			<div>
				<h1>Loading</h1>
				<ul>
					<li><a href="/loading/loading1">loading1</a></li>
					<li><a href="/loading/loading2">loading2</a></li>
					<li><a href="/loading/loading3">loading3</a></li>
				</ul>
			</div>

			<div>
				<h1>Hover</h1>
				<ul>
					<li><a href="/hover/hover1">hover1</a></li>
				</ul>
			</div>
	
			<div>
				<h1>Slider</h1>
				<ul>
					<li><a href="/slider/slider1">slider1</a></li>
				</ul>
			</div>

			<div>
				<h1>Works</h1>
				<ul>
					<li><a href="/works01">works01</a></li>
				</ul>
			</div>
		</main>
	</body>
</html>
