---
import "../../../styles/sass/styles.scss"
import "./style.css"
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Loading2</title>
	</head>
	<body>
    <div id="loading" class="loading">
      <p><span class="count">0</span><span>%</span></p>
      <h1><span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span></h1>
    </div>
    
    <script>
      const loading = document.getElementById('loading')
      const countText = document.querySelector('.count');
      let count = 0;
    
      setTimeout(() => {
        (function loop(){
          setTimeout(() => {
            count++
            if(countText) {
              countText.innerHTML = count.toString()
      
              if(count ===  100) {
                loading?.classList.add('is-remove')
                return
              }
            }
            loop()
          }, 50)
        })()
      }, 1500);
    </script>
  </body>
</html>