---
import "../../../styles/sass/styles.scss"
import "../scss/style.scss"
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Works03</title>
	</head>
	<body>
    <header class="header">
      <div class="header__logo">
        <h1>Works03</h1>
      </div>
    </header>
    <div class="webgl"></div>
    <slot/>
    <script src="../ts/script.ts"></script>
  </body>
</html>