---
import "../../styles/sass/styles.scss"
import "./scss/style.scss"
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Works05</title>
	</head>
	<body>
    <main>
      <section class="company">
        <div class="company__inner">
          <div class="company__image">
            <img src="/images/works05/company.png" alt="">
            <img src="/images/works05/company.png" alt="">
            <img src="/images/works05/company.png" alt="">
            <img src="/images/works05/company.png" alt="">
            <img src="/images/works05/company.png" alt="">
            <img src="/images/works05/company.png" alt="">
          </div>
          <div class="company__contents">
            <div class="company__bg">
              <img class="company__bg__left" src="/images/works05/company-bg-left.svg" alt="">
              <img class="company__bg__right" src="/images/works05/company-bg-right.svg" alt="">
            </div>
            <div class="company__title">
              <h2 class="company__main-title">COMPANY</h2>
              <span class="company__sub-title">私たちのこと</span>
            </div>
            <div class="company__desc">
              <p class="company__text">西条市で一戸建てを設計施工している<br>「住工房たかせ」といいます。<br>カッコイイ家やオシャレな家も大事ですが、<br>私たちは「育み」を大事に家を作っています。</p>
              <p class="company__text">パパもママも、子どもも、<br>おじいちゃんもおばあちゃんも<br>みんなが笑顔で毎日が「育まれる家」。</p>
              <p class="company__text">３人の子育てをしているママが<br>コーディネートする住工房たかせの<br>「高瀬さん家」へ遊びにきませんか？</p>
            </div>
            <a class="company__btn">VIEW MORE</a>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>