---
import "./style.css"
---

<div class="loading">
  <div class="plane plane--darkGreen">
    <div class="catch-copy">
      <div class="icon">
        <img src="../images/icon.png" alt="キャラクター">
      </div>
      <p>
        <span>あ、</span>
        <span>と</span>
        <span>お</span>
        <span>ど</span>
        <span>ろ</span>
        <span>く</span>
        <span>世</span>
        <span>界</span>
        <span>へ</span>
      </p>
    </div>
  </div>
  <div class="plane plane--green"></div>
  <div class="plane plane--lightGreen"></div>
</div>

<script>
  const loading = document.querySelector(".loading");
  const icon = document.querySelector(".icon");
  const catchCopy = document.querySelector(".catch-copy");

  const timeOut = (s: number) => {
    return new Promise((resolve) => {
      setTimeout(resolve, s * 1000)
    })
  }

  timeOut(1)
    .then(() => {
      icon?.classList.toggle("is-active")
      catchCopy?.classList.toggle("is-active")
      return timeOut(2.5)
    }).then(() => {
      icon?.classList.toggle("is-remove")
      catchCopy?.classList.toggle("is-remove")
      return timeOut(1)
    }).then(() => {
      loading?.classList.toggle("is-active")
    })
</script>