@use "./variables.scss" as *;

@mixin scaleInText() {
  transform: scale(0);
  animation: #{$duration * 2}s #{$easing-transform} forwards scaleInText;
}

@mixin scaleOutText() {
  transform: scale(8);
  animation: #{$duration * 8}s #{$easing-transform} forwards scaleOutText;
}

@mixin sliderInText() {
  
}