---
import './style.css'
---

<div class="hover-animation">
  <div id="stalker" class="stalker"></div>
  <h1>
    <div class="hover-animation-title">
      <span class="title">HOVER</span>
      <img src="../../../images/hover/image1.jpg" alt="Hover Animation Image">
    </div>
    <div class="hover-animation-title">
      <span class="title">ANIMATION</span>
      <img src="../../../images/hover/image2.jpg" alt="Hover Animation Image">
    </div>
    <div class="hover-animation-title">
      <span class="title">IMAGE</span>
      <img src="../../../images/hover/image3.jpg" alt="Hover Animation Image">
    </div>
  </h1>
</div>

<script>
  import { gsap } from 'gsap'

  const stalker = document.getElementById('stalker');
  const title = Array.from(document.querySelectorAll<HTMLElement>('.title'));
  window.addEventListener('mousemove', (e) => {
    if(stalker) {
      const x = e.clientX - 30
      const y = e.clientY - 30
      stalker.style.transform = `translate(${x}px, ${y}px)`
    }
  })

  title.forEach((v) => {
    v.addEventListener('mouseenter', (e) => {
      gsap.to(v.nextElementSibling, {
        opacity: 1,
        x: e.offsetX / 2,
        y: e.offsetY / 2,
        scaleX: 1.1,
        filter: 'hue-rotate(300deg) contrast(2)',
        ease: 'expo.out'
      })
    })

    v.addEventListener('mousemove', (e) => {
      gsap.to(v.nextElementSibling, { 
        x: e.offsetX / 2,
        y: e.offsetY / 2,
        scaleX: 1.1,
        filter: 'hue-rotate(300deg) contrast(2)',
        ease: 'expo.out'
      })
    })
  })

  title.forEach((v) => {
    v.addEventListener('mouseleave', () => {
      gsap.to(v.nextElementSibling, { 
        scaleX: 0,
        opacity: 0,
      })
    })
  })

</script>