---
import "./style.css"
---

<div id="loading" class="loading">
  <p><span class="count">0</span><span>%</span></p>
  <h1><span>L</span><span>o</span><span>a</span><span>d</span><span>i</span><span>n</span><span>g</span></h1>
</div>

<script>
  const loading = document.getElementById('loading')
  const countText = document.querySelector('.count');
  let count = 0;

  setTimeout(() => {
    (function loop(){
      setTimeout(() => {
        count++
        if(countText) {
          countText.innerHTML = count.toString()
  
          if(count ===  100) {
            loading?.classList.add('is-remove')
            return
          }
        }
        loop()
      }, 50)
    })()
  }, 1500);
</script>